
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600|Space+Mono);

// Variables
@import "variables";

// Bootstrap
// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// body {
    // background-color: $body-bg;
// }

.bg-dwd {
    background-color: $body-bg;
}

.justified {
    text-align: justify;
    text-justify: inter-word;
}
